# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Environment variables
.env
*.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
# Pytest cache
.pytest_cache/
