# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
tmp/
# Virtual environment
venv/
.env/

# Environment variables
.env
*.env
.ps1
# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
# Pytest cache
.pytest_cache/
.gradio
.txt
