sentencepiece
requests
langchain
langchain_openai
langchain_core
dotenv
rapidfuzz
uvicorn
requests
fastapi
google-cloud-storage
pandas
python-multipart
langchain_community
chromadb
bs4
httpx
sentence-transformers
transformers